<<<<<<< HEAD
﻿@model Farm
=======
﻿@model List<Post>
>>>>>>> bf08d482f84a87d75b4d3528f4ee912a806ec83c

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>