@model Infrastructure

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Message</title>
</head>
<body>
<div>
    <p>@Model.Message</p>
    @await Component.InvokeAsync("Notyf")
</div>
</body>
</html>